* {
  margin: 0;
  padding: 0;
}
.App {

  text-align: center;
}
.entireDash{
  width: 700px
}
.aboveDash {
  display: flex;
  /* justify-content: space-between; */
  border-bottom: black 1px solid;
  white-space: nowrap;
        /* overflow: hidden; */
        /* text-overflow: clip; */
  padding-bottom: 5px;
  margin-left: 5px;


}
.dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  font-size: 0px;
}
/* .dashboard .inner {
  display: inline-block;
  font-size: 15px;
} */
.inner {
display: flex;
  border-bottom: black 1px solid;
  padding: 10px; 
  font-size: 15px;
}
.Nav {
  text-align: center;
  width: 100%;
  background-color: #ff5f1f;
}
body {
  background-color:wheat;
}
.Left {
  white-space: nowrap;
}

.Middle {
  display: flex;
  margin-left: 40%;
  align-items: center;
}
.Right {
  margin-left: 25%;
}
a:link {
  text-decoration: none;
}
a:link {
  color: Black;
}
a:visited {
  color: black;
}
a:hover {
  color: cyan;
}
a:active {
  color: cyan;
}
button {
  margin-top: 10px;
 width: 350px;
 height: 50px;
  border-radius: 10px;
  background-color: #ff5f1f;
  font-size: 25px;
}